@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.taro3table {
  box-sizing: border-box;
  position: relative;
  max-width: 100vw;
  border-radius: 8rpx;
  border: 2rpx solid rgba(67, 120, 190, 0.1);
}
.taro3table .taro3table_loading {
  position: absolute;
  height: calc(100% + 4rpx);
  width: calc(100% + 4rpx);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6rpx);
  z-index: 94;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28rpx;
}
.taro3table .taro3table_loading > .taro3table_circle {
  height: 60rpx;
  width: 60rpx;
  border-top: 8rpx solid rgba(153, 153, 153, 0.7);
  border-right: 8rpx solid rgba(153, 153, 153, 0.7);
  border-bottom: 8rpx solid rgba(153, 153, 153, 0.7);
  border-left: 8rpx solid transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
.taro3table .taro3table_table {
  min-height: 100%;
  min-width: 100%;
}
.taro3table .taro3table_table .taro3table_empty {
  width: 100%;
  text-align: center;
  font-size: 24rpx;
  color: #cccccc;
  min-height: 88rpx;
  line-height: 88rpx;
}
.taro3table .taro3table_table .taro3table_head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  min-width: 100%;
  height: 88rpx;
  background-color: #f7fbff;
}
.taro3table .taro3table_table .taro3table_head.taro3table_scroll {
  position: sticky;
  top: 0;
  z-index: 93;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88rpx;
  color: #3975c6;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC, sans-serif;
  font-weight: 400;
  background-color: #f7fbff;
  box-sizing: border-box;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title:active {
  opacity: 0.7;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title.taro3table_fixed {
  position: sticky;
  top: 0;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title > .taro3table_sortBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10rpx;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title > .taro3table_sortBtn > .taro3table_btn {
  height: 0;
  width: 0;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title > .taro3table_sortBtn > .taro3table_btn.taro3table_ascend {
  border-top: 8rpx solid transparent;
  border-left: 8rpx solid transparent;
  border-right: 8rpx solid transparent;
  border-bottom: 8rpx solid #e2e2e2;
  margin-bottom: 4rpx;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title > .taro3table_sortBtn > .taro3table_btn.taro3table_ascend.taro3table_active {
  border-bottom-color: #3975c6;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title > .taro3table_sortBtn > .taro3table_btn.taro3table_descend {
  border-top: 8rpx solid #e2e2e2;
  border-left: 8rpx solid transparent;
  border-right: 8rpx solid transparent;
  border-bottom: 8rpx solid transparent;
}
.taro3table .taro3table_table .taro3table_head > .taro3table_title > .taro3table_sortBtn > .taro3table_btn.taro3table_descend.taro3table_active {
  border-top-color: #3975c6;
}
.taro3table .taro3table_table .taro3table_body {
  min-height: 120rpx;
}
.taro3table .taro3table_table .taro3table_body > .taro3table_row {
  min-height: 120rpx;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
  width: max-content;
  min-width: 100%;
  background-color: #ffffff;
}
.taro3table .taro3table_table .taro3table_body > .taro3table_row:first-child {
  border-top: none;
}
.taro3table .taro3table_table .taro3table_body > .taro3table_row > .taro3table_col {
  min-height: 120rpx;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.taro3table .taro3table_table .taro3table_body > .taro3table_row > .taro3table_col text {
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC, sans-serif;
  font-weight: 400;
  color: #222222;
  min-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.taro3table .taro3table_table .taro3table_body > .taro3table_row > .taro3table_col.taro3table_expansion {
  height: 100%;
}
.taro3table .taro3table_table .taro3table_body > .taro3table_row > .taro3table_col.taro3table_expansion text {
  overflow: auto;
  text-overflow: unset;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.taro3table .taro3table_table .taro3table_body > .taro3table_row > .taro3table_col.taro3table_fixed {
  position: sticky;
  top: 0;
  z-index: 92;
}
.taro3table .taro3table_table_bordered {
  border: 1PX solid #eee;
}
.taro3table .taro3table_table_bordered .taro3table_head {
  border-bottom: 1PX solid #eee;
}
.taro3table .taro3table_table_bordered .taro3table_head > .taro3table_title {
  height: 100%;
  border-right: 1px solid #eee;
}
.taro3table .taro3table_table_bordered .taro3table_head > .taro3table_title:last-child {
  border-right: none;
}
.taro3table .taro3table_table_bordered .taro3table_body > .taro3table_row {
  border-bottom: 1PX solid #eee;
}
.taro3table .taro3table_table_bordered .taro3table_body > .taro3table_row:last-child {
  border-bottom: none;
}
